*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: grey;
}

button {
    font-size: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.black-btn{
    font-size: 16px;
    color: black;
    background-color: inherit;
    border: 1px solid #000;
}

.black-btn:hover{
    color: #363738;
    border: 1px solid #363738;
}

.red-btn{
    font-size: 16px;
    border: none;
    color: white;
    background-color: #DB4444;
    border-radius: 4px;
    padding: 16px 48px;
}

.red-btn:hover{
    color: white;
    border: none;
}


.wrapper{
    color: black !important;
    font-size: 20px;
    margin: 80px 135px 140px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.products-element{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.products-element-title{
    color: black;
    display: flex;
    justify-content: space-between;
}

/*Grid doesnt want to work properly i dont have enough time to deal with this so i will go with flex here*/
.cards-grid{
    /*display: grid;*/
    /*grid-template-columns: repeat(4,  1fr);*/
    /*padding: 0;*/
    /*margin: 0;*/
    display: flex;
    justify-content: space-between;
}

.red-title{
    position: relative;
    font-size: 16px;
    color: #DB4444;
}

.red-title::before {
  content: '';
  position: absolute;
  border-radius: 4px;
  align-self: center;
  left: -30px; 
  width: 20px;  
  height: 40px;
  background-color: #DB4444; 
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

