header{
    color: #000000;
    align-items: center;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 38px 135px 16px;
    border-bottom: 1px solid #363738;
}


.logo{
    color: inherit;
    font-size: 24px;
    font-weight: bold;
}

.logo:hover{
    color: grey;
}
.sales{
    background-color: #000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 48px;
}

