
.searchbar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5; 
  width: 243px; 
  height: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.input {
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  flex: 1; 
  font-size: 12px;
  color: #666; 
}

.btn {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-radius: 0 5px  5px 0;
}
