.cart_total{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.cart_total div{
    padding: 16px 0;
}

.cart_total div:nth-child(1), .cart_total div:nth-child(2){
    border-bottom: 1px solid #000;
}
